*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    font-family: calibri;
}
nav{
    display: flex;
    margin-top: 20px;
    gap: 70px;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
nav li{
    animation: nav 1s forwards;
    opacity: 0;
    transform: translateY(-100px);
}
@keyframes nav{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
nav a:hover{
    color: aqua;
    filter: drop-shadow(0 0 15px aqua);
}
h2{
    margin-top: 18px;
}
p{
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
.box{
    max-width: 600px;
    margin: 30px auto;
}
.scroller{
    width: 600px;
    margin-top: 18px;
    overflow: hidden;
}
.scroller-track{
    display: flex;
    width: calc((150 + 10 + 5)* 10);
    animation: scroller 7s linear infinite;
}
.scroller-track img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 10px;
}
@keyframes scroller{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-825px);
    }
}
.scroller-track:hover{
    animation-play-state: paused;
}
.scroller-track :hover{
    filter: drop-shadow(0 0 15px white);
}
.slider{
    width: 400px;
    overflow: hidden;
    margin-top: 15px;
}
.slider-track{
    display: flex;
    width: calc((180px + 5px)* 6);
    animation: slider 5s linear infinite;
}
.slider-track img{
    width: 180px;
    height: 180px;
    object-fit: contain;
    border-radius: 10px;
    margin-right: 5px;
}
@keyframes slider{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-555px);
    }
}

.slider-track:hover{
    animation-play-state: paused;
}
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .scroller, .slider, .box {
        width: 90%;
        margin: 20px auto;
    }

    .scroller-track, .slider-track {
        width: max-content;
    }

    h2, p {
        text-align: center;
        padding: 0 10px;
    }
}
